@model AllQueryStoriesModel

@{
    ViewData["Title"] = "Your Stories";
}


<div class="row sec2">

    <form method="GET" class="headserach">
        <div class="searchtop">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" />
        </div>
    </form>

    @if (!Model.Stories.Any())
    {
        <h2 class="titlepost">You have no stories yet.</h2>
    }
    else
    {
        @foreach (var sto in Model.Stories)
        {
<a smooth="true" asp-controller="Stories" asp-action="Details" asp-route-id="@sto.Id" >
    <article class="storypage">
        <article class="contentpage">
            <h1>@sto.Title</h1>
            <p class="cut-text">
                @sto.StoryText
            </p>
        </article>
        <article class="btnslist">
            <a smooth="true" asp-controller="Stories" asp-action="Details" asp-route-id="@sto.Id" class="btndet">Details</a>
            <a smooth="true" asp-controller="Stories" asp-action="Edit" asp-route-id="@sto.Id" class="btnedi">Edit</a>
            <a smooth="true" asp-controller="Stories" asp-action="Delete" asp-route-id="@sto.Id" 
               class="btndel" onClick ="return confirm('Please, confirm the delete call.');">Delete</a>

        </article>
    </article>
</a>
        }

    }




    @{
        var prevpage = Model.CurrentPage - 1;

        if (prevpage < 1)
        {
            prevpage = 1;
        }

        var maxpag = Math.Ceiling((double)Model.TotalStories / AllQueryStoriesModel.StoriesPerPage);
    }


</div>


    <div class="row pagiion">
        <div class="col-md-6">
            <a class="btn btn-info  @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Stories"
               asp-action="AllMine"
               asp-route-currentPage="@prevpage"
               asp-route-searchTerm="@(Model.SearchTerm)">|<</a>

        </div>
        <div class="col-md-6">
            <a class="btn btn-info  @(Model.CurrentPage == maxpag  ? "disabled" : string.Empty)"
               asp-controller="Stories"
               asp-action="AllMine"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-searchTerm="@(Model.SearchTerm)">>|</a>

        </div>

    </div>


