@model AllQueryBooksModel

@{
    ViewData["Title"] = "All Books";
}


<div class="row sec2">

    <form method="GET" class="headserach">
        <div class="searchtop">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" />
        </div>

    </form>

    @foreach (var st in Model.Books)
    {
        <a smooth="true" asp-controller="Books" asp-action="DetailsUser" asp-route-id="@st.Id" class="wraplink">
            <article class="storypage">
                <h1 class="cut-text">@st.Title</h1>
                <article class="contentpage">
                    <img src=@st.ImageUrl />
                </article>
                <article class="btnslist3">
                    <a smooth="true" asp-controller="Books" asp-action="DetailsUser" asp-route-id="@st.Id" class="btndetf5">Details</a>
                    <article class="btnfavbtn">
                        <form method="post">
                            <input smooth="true" asp-controller="Favourites" asp-action="SaveBook" asp-route-id="@st.Id" type="submit" value="Save" class="btnfav56">
                        </form>
                    </article>
                </article>
            </article>

        </a>
    }

    @{
        var prevpage = Model.CurrentPage - 1;

        if (prevpage < 1)
        {
            prevpage = 1;
        }

        var maxpag = Math.Ceiling((double)Model.TotalBooks / AllQueryBooksModel.BooksPerPage);
    }

</div>

<div class="row pagiion">
    <div class="col-md-6">
        <a class="btn btn-info  @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Books"
           asp-action="All"
           asp-route-currentPage="@prevpage"
           asp-route-searchTerm="@(Model.SearchTerm)">|<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-info  @(Model.CurrentPage == maxpag  ? "disabled" : string.Empty)"
           asp-controller="Books"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@(Model.SearchTerm)">>|</a>
    </div>

</div>

