@model AllQueryBooksModel

@{
    ViewData["Title"] = "Admin All Books";
}


<section class="sec9">
    <table id="customers">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td><a smooth="true" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" class="detailsbtn">Details</a></td>
                    <td><a smooth="true" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id" class="editbtn">Edit</a></td>
                    <td><a smooth="true" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id" 
                           class="delbtn" onClick ="return confirm('Please, confirm the delete call.');">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevpage = Model.CurrentPage - 1;

        if (prevpage < 1)
        {
            prevpage = 1;
        }


        var maxpag = Math.Ceiling((double)Model.TotalBooks / AllQueryBooksModel.BooksPerPage);
    }
</section>


<div class="row pagiion">
    <div class="col-md-6">
        <a class="btn btn-info  @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Books"
           asp-action="AllBooks"
           asp-route-currentPage="@prevpage">|<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-info  @(Model.CurrentPage == maxpag  ? "disabled" : string.Empty)"
           asp-controller="Books"
           asp-action="AllBooks"
           asp-route-currentPage="@(Model.CurrentPage + 1)">>|</a>
    </div>
</div>
